pytest # for testing
python-dateutil # to get ISO 8601 utc_timezone
ccy # iso-4217 error code
faker # To make fake data
rstr # Fake string data
pytz # Timzeones
money #
iso4217 # Currency
tqdm # super cool progress bar, why not
